.animated_circle_styling {
  background: linear-gradient(135deg, slateblue, rgb(0, 12, 240));
  height: 50vmin;
  width: 50vmin;
  display: inline-block;
  border-radius: 50%;
  filter: drop-shadow(0 0 3vmin rgb(182, 178, 207))
    drop-shadow(0 5vmin 3vmin rgb(7, 0, 98))
    drop-shadow(2vmin -4vmin 15vmin rgb(144, 124, 255))
    drop-shadow(0 0 7vmin rgb(125, 99, 255)) blur(100px);
  box-shadow: 0 -2vmin 3vmin rgb(186, 182, 255) inset,
    0 1vmin 4vmin rgb(121, 112, 216) inset, 0 -2vmin 7vmin rgb(59, 0, 153) inset;
}
